@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
    margin-top: 0;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.btn-lg {
    /* border: 1px solid #3079ed; */
    text-shadow: 0 1px rgba(0,0,0,0.1);
    transition: opacity 1s ease, color 0.6s ease;
    background-color: #0A70B8;
    padding: 10px 0;
    font-family: roboto;
    font-size: 14px;
    color: #ffffff;
}

.btn-lg:hover {
    color: #ffffff;
    opacity: 0.6;
}

.loginmodal-container a {
    text-decoration: underline;
    color: #333;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.8;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.logo {
    height: auto;
    width: auto;
    max-width:  100%;
    max-height: 100px;
    margin-bottom: 10px;
}