body{
    background-color: #F0F8FF;
}

.navbar{
    background-image: -webkit-linear-gradient(top,#263238 0,#263238 100%);
    background-image: -o-linear-gradient(top,#263238 0,#263238 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#263238),to(#263238));
    background-image: linear-gradient(to bottom,#263238 0,#263238 100%);
    border-radius: 0;
}

/*Styling for brand name*/
.navbar-inverse{
    border: none !important;
}

.navbar-brand {
    padding: 5px;
    color: #ffffff;
}

/*Styling for nav links*/
.navbar-inverse .navbar-nav>li {
    border-bottom: 5px solid transparent;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

/*Link hover in navbar*/
.navbar-inverse .navbar-nav>li:hover {
    border-bottom: 5px solid #FFCE02;
    background-color: transparent;
}

.navbar-brand>img{
    height: 100%;
    width: auto;
    z-index: 100;
    margin-top: 3px;
}

.active{
    border-bottom: 5px solid #FFCE02 !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
}

.img-circle {
    max-height: 300px;
    width: auto;
}