{% extends '@Main/base.html.twig' %}

{% block body %}

    {% if is_granted ('ROLE_ADMIN') %}
        <a class="btn btn-success pull-right" href="{{ path('aboutus_new') }}">Nieuwe tekst toevoegen</a>
    {% endif %}

    {% for aboutus in aboutuses %}
        {% if is_granted ('ROLE_ADMIN') %}
            <a class="btn btn-primary pull-right" href="{{ path('aboutus_edit', { 'id': aboutus.id }) }}">Wijzigen</a>
        {% endif %}
        <div class="container">
            <h1>{{ aboutus.title }}</h1>

            <div id="raadswerk">
                <p>{{ aboutus.description|raw }}</p>
            </div>
        </div>

    {% endfor %}

{% endblock %}
