{% extends "@Main/base.html.twig" %}

{% block fos_user_content %}
    {% if app.user %}
{% include "@Main/ChangePassword/change_password_content.html.twig" %}
    {% else %}
        <div>
            <h3>Pagina niet gevonden</h3>
            <p>Deze pagina is niet voor u geschrikt</p>
        </div>
    {% endif %}
{% endblock fos_user_content %}
