{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Company creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Opslaan" />
    {{ form_end(form) }}

    <a class="btn btn-default" href="{{ path('company_index') }}">Terug naar overzicht</a>

{% endblock %}
