{% extends '@Main/base.html.twig' %}

{% block body %}

    {% for raadswerk in raadswerks %}
        {% if is_granted ('ROLE_ADMIN') %}
            <a class="btn btn-success pull-right" href="{{ path('raadswerk_new') }}">Nieuwe tekst toevoegen</a>
            <a class="btn btn-primary pull-right" href="{{ path('raadswerk_edit', { 'id': raadswerk.id }) }}">Wijzigen</a>
        {% endif %}
        <div class="container">
            <h1>{{ raadswerk.name }}</h1>

            <div id="raadswerk">
                <td>{{ raadswerk.description|raw }}</td>
            </div>
        </div>
    {% endfor %}
{% endblock %}
