{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Antwoorden</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ answer.userId }}</td>
            </tr>
            <tr>
                <th>Choiceid</th>
                <td>{{ answer.choiceId }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('answer_index') }}">Terug naar overzicht</a>

{% endblock %}
